.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  padding: 0 24px;
  position: relative;
  background-color: white;
  z-index: var(--header-z-index);
  box-shadow: var(--header-box-shadow);

  .logo {
    user-select: none;
    color: #1a25e7;
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    letter-spacing: .1rem;
    transform: translateY(0);
    font-family: Menlo, sans-serif;

    each(range(6), {
      span:nth-child(@{value}) {
        animation: 2s infinite blink alternate;
        animation-delay: .1s * @value;
      }
    })

  }

}

@keyframes blink {
  0% {
    text-shadow: 0 0 0 #dcdbdb;
  }
  90% {
    color: #1a25e7;
    text-shadow: 0 0 0 #dcdbdb;
  }
  95% {
    color: #2a88f1;
    text-shadow: 1px 0 2px #dcdbdb;
  }
  100% {
    color: #02b5f6;
    text-shadow: 2px 0 1px #dcdbdb;
  }
}
