@import "src/assets/css/global";

.song {
  transition: .3s ease;
  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.02);
  }
  &:hover .coverImg {
    transform: scale(1.05) ;
  }
  padding: 6px 12px;
  display: flex;
  align-items: center;
  position: relative;
  .coverImg {
    transition: .3s ease;
    border-radius: @base-border-radius;
    height: 48px;
    width: 48px;
  }

  .right {
    height: 48px;
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    justify-content: space-between;
    .name {
      margin-left: 4px;
      font-weight: bolder;
    }

    .bottom {
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 12px;
      color: rgba(0,0,0,.3);
    }
  }

}

.lyric {
  font-weight: bolder;
  transition: .3s ease;
}


