@import "../../assets/css/global";
@codeBox-backgroundColor: @base-hover-background-color;
@codeBox-baseColor: #6d6d6d;

@keywords: #1a61d7;
@comma: @keywords;
@punctuation: @codeBox-baseColor;
@mark: #35841a;
@tags: #e8a01a;
@functions: #ff0000;
@objectKey: #8429a4;
@inTagValue: @keywords;

@codeBoxType: {
  noddle-keywords: @keywords;
  noddle-punctuation: @punctuation;
  noddle-mark: @mark;
  noddle-tags: @tags;
  noddle-functions: @functions;
  noddle-comma: @comma;
  noddle-objectKey:@objectKey;
  noddle-inTagValue: @inTagValue;
}

each(@codeBoxType, {
  .@{key} {
    color: @value;
  }
})