@import "src/assets/css/global";

.container {
  display: flex;
  justify-content: center;
  position: relative;
  &:hover {
    .tips {
      visibility: visible;
    }
  }
  .tips {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: max-content;
    padding: 4px 12px;
    border-radius: @base-border-radius;
    box-shadow: 0 0 10px @base-box-shadow-color;
  }
}