@import "index";

.codeBoxContainer {
  width: 100%;
  color: @codeBox-baseColor;
  background-color: @codeBox-backgroundColor;
  overflow: scroll;
  padding: 0 6px;
  height: 0;
  transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.code {
  font-size: 14px;
}

.keywords {
  color: @keywords;
}