@import "src/assets/css/global";
@codeBox-backgroundColor: #f0f0f0;
@codeBox-baseColor: #6d6d6d;

@keywords: #1a61d7;
@comma: @keywords;
@punctuation: @codeBox-baseColor;
@mark: #35841a;
@tags: #eea617;
@functions: #c84242;
@objectKey: #8429a4;

@codeBoxType: {
  keywords: @keywords;
  punctuation: @punctuation;
  mark: @mark;
  tags: @tags;
  functions: @functions;
  comma: @comma;
  objectKey:@objectKey;
}

each(@codeBoxType, {
  .@{key} {
    color: @value;
  }
})