@import "src/assets/css/global";

@textColor-danger: #cd4646;
@textBackgroundColor-danger: #f8e2e2;

@textColor-default: #555555;
@textBackgroundColor-default: #edecec;



.container {
  padding: 2px 8px;
  border-radius: @base-border-radius;
  background-color: @textBackgroundColor-default;
  color: @textColor-default;
}

.danger {
  background-color: @textBackgroundColor-danger;
  color: @textColor-danger;
}