@import "src/assets/css/global";
.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  .left {
    max-width: 950px;
    padding: 0 24px 0 48px;
  }
  .right {
    font-size: 12px;
    color: @base-fontColor;
    position: sticky;
    margin-top: 60px;
    top: 150px;
    width: max-content;
    padding-right: 5%;
    height: 100%;
    animation: .8s ease show forwards;
    min-width: 115px;
    @keyframes show {
      from {
        opacity: 0;
        transform: translateX(12px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .nav {
      &:not([data-selected=true]):hover {
        color: @base-hover-fontColor;
      }
      cursor: pointer;
      display: flex;
      white-space: nowrap;
      align-items: center;
      line-height: 24px;
      transition: .3s ease;
      margin-left: 18px;
    }
  }
}

.bottom {
  min-height: 240px;
  background-color: @base-inactive-background-color;
  .header {
    display: flex;
    align-items: center;
    min-height: 64px;
    margin-top: 64px;
    padding: 0 0 0 48px;
    background-color: @base-inactive-background-color;
  }

}

.active {
  transform-origin: left;
  transform: scale(1.1);
  color: @noddle-main-color;
}

