@import "src/assets/css/global";

.content {
  @media screen and (max-width: @media-screen-width) {
    width: 100%;
  }
  height: 100vh;
  overflow: scroll;
  background-color: white;
  width: calc(100vw - 260px);
  z-index: var(--content-z-index);
  word-break: break-all;
  position: relative;

  .blank {
    min-height: calc(100vh - 305px);
  }

  .blank::-webkit-scrollbar {
    display: none;
  }


  .bottom {
    min-height: 240px;
    background-color: @base-inactive-background-color;

    .header {
      display: flex;
      align-items: center;
      min-height: 64px;
      margin-top: 64px;
      padding: 0 0 0 48px;
      background-color: @base-inactive-background-color;
    }

  }
}

.content::-webkit-scrollbar {
  width: 12px;
  height: 0 !important;
  background-color: transparent !important;
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.content:hover::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  border: 4px solid transparent !important;
  background-color: var(--webkit-scrollbar-thumb-background-color) !important;
  background-clip: content-box !important;
}


//.content::-webkit-scrollbar-track {  }