.content {
  height: 100vh;
  padding-left: 12px;
  overflow: scroll;
  background-color: white;
  width: calc(100% - 260px);
  z-index: var(--content-z-index);
  word-break: break-all;
  position: relative;
}

.content::-webkit-scrollbar {
  width: 12px;
  height: 0;
  background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 4px solid transparent;
  background-color: var(--webkit-scrollbar-thumb-background-color);
  background-clip: content-box;
}

//.content::-webkit-scrollbar-track {  }