@import "src/assets/css/global";

.container {
  display: flex;
  font-size: 14px;
  flex-shrink: 0;
  .startLine {
    flex: 1;
    background-color: @base-inactive-background-color;
  }

  .endLine {
    flex: 1;
    background-color: @base-inactive-background-color;
  }

  .children {
    margin: 0 4px;
  }

  .vertical_line {
    width: 1px;
    min-height: 16px;
  }

  .horizontal_line {
    height: 1px;
    min-width: 16px;
  }
}

.vertical_container {
  flex-direction: column;
  align-items: center;
}

.horizontal_container {
  flex-direction: row;
  align-items: center;
}