@import "src/assets/css/global";
.container {
  position: relative;
  height: 250px;
  padding: 1px 24px 1px 48px;
  box-shadow: var(--content-header-box-shadow);
  display: flex;
  justify-content: space-between;
  .info {
    transition: .5s opacity ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 48px;
    .title {
      margin: 10px 0;
      font-size: @content-header-info-title-fontSize;
      height: 56px;
      line-height: 56px;
    }
    .description {
      color: @base-fontColor;
      font-size: @base-fontSize;
    }
  }
  .imageContainer {

    box-shadow: inset 0 0 40px 40px white;
    height: 100%;
    .image {
      position: relative;
      z-index: -1;
      height: 100%;
    }
  }
}
.hide {
  opacity: 0;
}